.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.add_input {
  display: flex;
  align-items: center;

  .add_inp_box {
    // width: 200px;
    // margin: 10px 0;
  }
}
.dev_inp_box {
  width: 200px;
  margin: 10px 0;
}
.delete_icon {
  color: red;
}
.add_button {
  width: 10px;
  height: 30px;
  padding: 2px;
}
