.country_form {
  padding: 20px;
  max-width: 600px;
  margin: auto;

  .title {
    font-size: 25px;
    color: #1083b7;
    text-align: center;
    margin-bottom: 30px;
  }

  .select {
    margin: 20px 0;

    span {
      margin: 0;
    }
  }

  button {
    margin: 40px auto 0 !important;
    display: block !important;
  }

  .text {
    margin-bottom: 20px;
    display: block;
  }
}
