@use "../../../../styles/mixins";

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;

  .list_item {
    @include mixins.listStyles;
    padding: 16px;
    margin: 0;

    p {
      margin: 0;
    }
  }
}
